@font-face {
  font-family: lora;
  src: url(https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc20aa8997095067596f_Satoshi-Light.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: lora;
  color: white;
}

body {
  background-color: black;
}

section.view1 {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view1 .bottom {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}
main section.view1 .bottom .text {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 100;
  font-size: 3rem;
}
main section.view1 .bottom .text p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #b3b3b3;
}
main section.view1 .bottom .text i {
  padding: 5px 8px;
  background-color: #282828;
  border-radius: 50%;
  border: 1px solid rgb(207, 207, 207);
}
main section.view1 .bottom .text .text1 {
  display: flex;
  gap: 12px;
  font-size: 1rem;
  color: white;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
main section.view2 .top, main section.view2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.view2 .top .element, main section.view2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main section.view2 .top .element small, main section.view2 .bottom .element small {
  opacity: 0.5;
}
main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
  font-size: 2rem;
  font-weight: 200;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view3 .bottom > p {
  text-transform: uppercase;
}
main section.view3 .bottom {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}
main section.view3 .bottom .text {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 100;
  font-size: 3rem;
}
main section.view3 .bottom .text p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #b3b3b3;
}
main section.view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view4 .bottom > p {
  text-transform: uppercase;
}
main section.view4 .bottom {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}
main section.view4 .bottom .text {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view4 .bottom .text h1 {
  font-weight: 100;
  font-size: 3rem;
}
main section.view4 .bottom .text p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #b3b3b3;
}

@media (min-width: 1024px) {
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top {
    width: 50%;
    margin-top: 1rem;
  }
  main section.view1 .top img {
    width: 95%;
    height: 100%;
  }
  main section.view1 .bottom {
    width: 50%;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  main section.view2 {
    flex-direction: row;
    padding: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1024px) {
  main section.view3 {
    flex-direction: row-reverse;
    gap: 2rem;
  }
  main section.view3 .top {
    width: 50%;
    margin-top: 1rem;
  }
  main section.view3 .top img {
    width: 95%;
    height: 100%;
  }
  main section.view3 .bottom {
    width: 50%;
    justify-content: space-between;
  }
  main section.view3 .bottom .para {
    display: flex;
    gap: 1.5rem;
  }
}
@media (min-width: 1024px) {
  main section.view4 {
    flex-direction: row;
    gap: 0.3rem;
    padding: 2rem;
  }
  main section.view4 .top {
    width: 50%;
    margin-top: 1rem;
  }
  main section.view4 .top img {
    width: 95%;
    height: 100%;
  }
  main section.view4 .bottom {
    width: 50%;
    gap: 5rem;
    justify-content: space-between;
  }
  main section.view4 .bottom .para {
    display: flex;
    gap: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */